# .gitignore

# Abhängigkeiten
node_modules/

# Build-Ordner
dist/
build/

# Umgebungsvariablen (Niemals Passwörter hochladen!)
.env
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE Dateien
.idea/
.vscode/
*.swp